:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  max-width: fit-content;
  max-height: fit-content;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: auto;
  text-align: center;
}

@media (max-width: 1200px) {
  .board {
      transform: scale(0.8);
  }
}

@media (max-width: 800px) {
  .board {
      transform: scale(0.6);
  }
}

.board-and-turns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.board h1 {
  color: #eee;
  margin-bottom: 14px;
  font-size: 64px;
  font-family: "Freeman", serif;
}

.board h2 {
  margin: 0px;
  color: rgb(9, 148, 241);
  font-size: 36px;
  font-family: "Patua One", serif;
  transform: rotate(-2deg);
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 80px;
  height: 80px;
  pointer-events: none;
  border-color: transparent;
}

.player-board {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 6px;
  width: 140px;
}

.player {
  height: 40px;
  width: 40px;
  background-color: red;
  color: rgb(83, 105, 233);
}

.player img, .square img {
  max-height: 100%;
  max-width: 100%;
}

.player-title {
  font-size: 30px;
  font-family: "Freeman", serif;
  margin: 10px;
}

.player-score {
  font-family: "Patua One", serif;
  color: rgb(9, 148, 241);
}

.player-score-number {
  margin: 10px 0px;
  font-size: 50px;
  font-family: "Patua One", serif;
  color: rgb(9, 148, 241);
}

.is-selected {
  border: 2px solid rgb(0, 255, 98);
  background: rgba(0, 255, 98, 0.781);
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1200px) {
  .winner {
    background-color: transparent;
    left: auto;
  }
}

@media (max-width: 800px) {
  .winner {
    left: auto;
  }
}


.winner .text {
  background: #111;
  height: 320px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.winner-team {
  color: #fff;
  line-height: 110%;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.square:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}

.options {
  display: flex;
  justify-content: center;
}

.config {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 10px;
}

.config img{
  max-width: 100%;
  max-height: 100%;
}

.derby-selection {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.derby-flag {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: transparent;
  border: none;
}

.derby-flag:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(120%);
}

.derby-flag-img {
  max-width: 100%;
  max-height: 100%;
}

.play-again {
  background-color: #000;
  border-radius: 5%;
  border: 1px solid #fff;
  padding: 10px;
  font-family: "Freeman", serif;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}